* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(rgb(71, 212, 182), rgb(40, 52, 119));
    font-family: sans-serif;
    color: white; 
}
.temperature {
    height: 50vh;
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-content: center;
}
.temperature {
    flex-direction: column;
    align-items: center;
}
.degree-section {
    display: flex;
    align-items: center;
    cursor: pointer;
}
.degree-section span {
    margin: 10px;
    font-size: 30px;
}
.degree-section h2 {
    font-size: 40px;
}
.location {
    align-items: flex-end;
    display: flex;
    justify-content: space-around;
    height: 10vh;
}
.temperature-description {
    font-size: 25px;
    font-style: unset;
}
.summaryFull {
    font-size: 15px;
    height: 0vh;
    text-align: center;
    font-style: italic;
}